/* =========
Your custom styles go here
 ========= */

 :root{
   --main-color: #6395ed;
   --title-size: 4.4vmax;
   --list-item-size: 2.2vmax;
 }

 .item-inner{
   font-size: var(--list-item-size) !important;

 }
 .white{
   color: white !important;
 }

 .navbar-inner{
   background-color: var(--main-color);
 }

 .panel-overlay{
   background: var(--main-color);
 }

 /* card popup */

 .popup-card{
   background: #efeff4;
 }

 .popup-title{
   text-align: center;
 }

/* select store */
 .main-preloader{
   position: absolute;
   top: 45%;
   left: 40%;
   z-index: 1000;
 }

 .select-store-button{
   background: var(--main-color) !important
 }

 /*  */

 .changed-body{
   height: 5%
 }

 .map_div{
   /* display: none; */
   /* position: absolute; */
   /* margin-top: 300px; */
   height: 95%

 }

 /* main page  */

 .side-menu-div{
   margin-left: 15px;
 }


 .block-main{
   position: absolute;
   top: 0;
   bottom: 0;
   width: 85%;
   height: 35vh;
   margin: auto;
   left: 0;
   right: 0;
 }

 .row-main-3{

   padding-top:4%;
 }

 .row-main-1{
   background: var(--main-color);
 }


 .button-main{

  height: 18vh !important;
  width: 48%;
  background: var(--main-color);
 }

 .inside-button-main{
   font-size: 5vh !important;
   color: white;
 }

 .inside-button-main-p{
   position: absolute;
   bottom: -27px;
   left: 0;
   right: 0;
 }

 .inside-button-main-i{
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 50%;
   margin: auto;

 }

 .main-text{
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
   color: white;
   font-weight: 100;
   letter-spacing: 0.1em;
   font-size: 3vh;
   padding: 3vh;
   text-align: center;
   text-transform: uppercase;
   text-rendering: optimizeLegibility;
 }

 .deepshadow{


}

.sub-menu-list{
  margin-bottom: 100px;
}

.floating-button{
  height: 60px;
  width: 60px
}

#floating-button-icon{
  font-size: 29px;
}

#floating-button-badge{
  height: 23px;
  width: 23px;
  line-height: 23px;
  font-size: 15px;
  top: -5px
}

/* .item-content{
  padding-left: 0 !important;
} */

.parent-items-img{
  width: 8vmax;
  height: 8vmax;
  border-radius: 50%;
  padding: 6px !important;
  /* line-height: 0px; */
}

#img-swiper-row{
  height: 60%;
}

#img-swiper-col{
  height:100%;
  margin: 0 auto;
}

#swiper-img{
  height:100%;
}

.item-inner{
  margin: auto;
  font-size: 1.2em
}

.item-title{
  margin: 0 auto;
}

.list-group-title{
  padding-bottom: 10px;
  font-size: var(--title-size);
  color: var(--main-color) !important;
  background: #ffffff !important;
}

/* A bit of demo styles */;
.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.demo-swiper .swiper-slide {
  box-sizing: border-box;


}
.demo-swiper {
  margin: 0px 0 35px;
  font-size: 18px;
  height: 120px;
  /* overflow-x: scroll; */
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 0px;
}
.demo-swiper.demo-swiper-auto .swiper-slide {
  width: 85%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}


/* cards */

.final-page-image{
  height: 100%;
  width: 100%;
}

.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic .card-content-padding .date{
  color: #8e8e93;
}


.item-after{
  color: var(--main-color) !important;
}

/* toolbar style in final page */

.final-page-toolbar{
  height: 88px;
  background: var(--main-color);
  box-shadow: 0px -1px 6px 0px black;
}

#toolbar-usd{
  border-right: 0.5px solid black;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toolbar-add{

  height: 100%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.toolbar-a{
  color: #ffffff;
  font-size: 23px;

}

.final-page-list{
  margin-bottom: 150px;
  margin-top: 10px;
}

/* card */

.extra-price-size{
  font-weight: 100;
  font-size: 14px;
  color: var(--main-color);
}

.card{
  /* margin: 0; */
}

.card-header{
  height: 65vw !important;
  padding: 0 !important
}

.card-image-title{
  position: absolute;
  bottom: 0;
}

.custom-header{
  border-top: 1px solid #80808057;
  color: var(--main-color);
}

.accordion-item-toggle{
  font-size: 1.3em;
  padding-bottom: 0.5em;
}

.accordion-item-contnent{
  text-align: right;
  font-size: 1em !important;
}

.extra-descr{

}

.card{
  margin: 0
}


.add-delete-buttons-div{

  align-self: center
}

.extra-delete-button{
  width: 50px;
  background: var(--main-color) !important;
}

.extra-add-button{
  width: 50px;
  background: var(--main-color) !important;
}

#extra-delete{
  /* margin-right: 50px; */
  font-weight: 900;
  font-size: 1.2em;
}

#extra-add{
  font-weight: 900;
  font-size: 1.2em;
}

/* extra shot  */

.extra-shot-div{
  justify-content: center;
}

.add-delete-icons{
  justify-content: center;
  align-self: center;
  display: flex;
}

.add-delete-icons-child{

}

#extra-shot-add{
  right: 15px;
  align-self: center;
  position: absolute;
}

#extra-shot-delete{
  right: 70px;
  align-self: center;
  position: absolute;
}

#extra-shot-number{
  font-size: 25px;
  margin: 0;
}

/* Profile Page */

.profile-list{
  padding-top: 20px;
}

.profile-page-list-item{
  padding-bottom: 2.2vh;
}

.inside-profile-change-button{
  margin: 0;
  color: white;
}

.profile-button{
  background: var(--main-color);
}

.plus-minus-input {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.plus-minus-input .input-group-field {
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.plus-minus-input .input-group-button .circle {
  border-radius: 50%;
  padding: 0.25em 0.8em;
}

/* cart */

.cart-items-img{
  width: 10vmax;
  height: 10vmax;
  border-radius: 50%;
  padding: 15px !important;
  /* line-height: 0px; */
}

#floating-button-continue{
  width: 100px;
  height: 20px;
  font-size: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--main-color);
  box-shadow: 3px 5px 13px 0px grey;
  font-weight: 900;
}

#floating-button-price{
  left: 15px;
  width: 100px;
  height: 20px;
  font-size: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--main-color);
  box-shadow: 3px 5px 13px 0px grey;
  font-weight: 900;
}

.cart-list{
  /* margin-top: 70px; */
  padding-bottom: 60px
}
.no-items-in-cart{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 100px;
}

.cart-block{
  background: white;
  box-shadow: 3px 6px 10px;
}

.cart-item{
  display: inherit;
  font-size: 0.8em;
}

.cart-item-div{
  width: 100%;
  text-align: left;
}

.cart-title{
  font-size: 1.3em;
  color: var(--main-color);
}

.cart-item-p{
  margin: 0.5em;
}
