/* =========
Your custom styles go here
 ========= */

#parent_items_img{
  width: 4em;
  height: 4em;
  border-radius: 50%;
  padding-bottom: 6px;
  padding-top: 6px;
}

#img-swiper-row{
  height: 60%;
}

#img-swiper-col{
  height:100%;
  margin: 0 auto;
}

#swiper-img{
  height:100%;
}

.item-inner{
  margin: auto;
  font-size: 1.2em
}

.item-title{
  margin: 0 auto;
}

.list-group-title{
  padding-bottom: 10px;
  font-size: 2em;
  color: #2196f3ba !important;
  background: #ffffff !important;
}

/* A bit of demo styles */;
.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.demo-swiper .swiper-slide {
  box-sizing: border-box;


}
.demo-swiper {
  margin: 0px 0 35px;
  font-size: 18px;
  height: 120px;
  /* overflow-x: scroll; */
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 0px;
}
.demo-swiper.demo-swiper-auto .swiper-slide {
  width: 85%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}


/* cards */

.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic .card-content-padding .date{
  color: #8e8e93;
}
